.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  background: #f4f2f2;
  margin: 30px auto;
  border-radius: 10px;
}

.wrapper div,
.wrapper h1 {
  margin: 10px auto;
}

.block {
  width: 254px;
  margin: 0 auto;
}

.image {
  width: 128px;
  margin: 10px auto;
  text-align: center;
}

.categories {
  color: #c0bec0;
  text-decoration: underline;
}

.title {
  font-size: 18px;
}

.authors {
  font-size: 14px;
  font-weight: normal;
  color: #c0bec0;
}
