.wrapper {
  display: flex;
  justify-content: center;
}

.block {
    width: 300px;
    margin-bottom: 65px;
}

.image {
    width: 280px;
    border: 1px red solid;
}

.categories {
    color: #ccc;
    text-decoration: underline;
}

.title {}

.authors {}