.header {
  background-image: url('../../assets/img/header.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 34vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
